label{
    background:rgb(30, 97, 197);
    color:rgb(255, 255, 255);
    display: flex;
    width: fit-content;
    margin-right: 15px;
    border: 2px solid;
    border-radius:8px;
    padding: 5px 10px;

}

input{
    border: 2px solid rgb(19, 83, 180);
    background: rgb(30, 97, 197);
    align-items: right;
    padding: 4px;
    width: 397px;


}
input[type=submit]{
    width: fit-content;
    padding: 5px 20px;
    margin: 0;
    color:white;
    border-radius: 7px;
    cursor:pointer;
}

fieldset{
    width: 40%;
    align-items: center;
    margin-left: 30vw;
    padding-bottom: 0;

}

.submit{
    align-items: left;
    display: flex;
    justify-content: flex-end;
    height: fit-content;  
}



